header{
    position: relative;
    height: 100px;
    background-color: rgb(30, 148, 244);
    background-size: 40%;
    background-image: url('img/pattern.png');
}

#logo{
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    left: 0;
}

main #article-title{
    width: 80%;
    margin-bottom: 0;
}

.gray-text{
    color: gray;
}

.small-font{
    font-size: 12px;
}

.img-container1{
    margin-bottom: 0;
}

.img-container1 img{
    width: 400px;
    height: 300px;
}

ul{
    padding-left: 15px;
}

thead{
    background:rgb(30, 148, 244);
    color: white;
}

thead th{
    width: 33%;
}

.lightblue-bg{
    background-color: aquamarine;
}

footer h2{
    color: gray;
    font-size: 20px;
}